// ---------- Colors ----------
$primary: #b1880b;
$accent: #a32024;
$background: #120812;
$text: #b3aaa2;
$headings: #eae6e1;

// ---------- Fluid fonts ----------
$paragraph: clamp(1rem, 0.26vi + 0.93rem, 1.25rem);
$cta: clamp(1.2rem, 0.45vi + 1.09rem, 1.63rem);
$header_6: clamp(1.44rem, 0.71vi + 1.26rem, 2.11rem);
$header_5: clamp(1.73rem, 1.07vi + 1.46rem, 2.75rem);
$header_4: clamp(2.07rem, 1.58vi + 1.68rem, 3.57rem);
$header_3: clamp(2.49rem, 2.27vi + 1.92rem, 4.64rem);
$header_2: clamp(2.99rem, 3.21vi + 2.18rem, 6.03rem);
$header_1: clamp(3.58rem, 4.48vi + 2.46rem, 7.84rem);

// ---------- Fluid space ----------
$small: clamp(1.13rem, calc(1.04rem + 0.41vw), 1.5rem);
$medium: clamp(1.69rem, calc(1.57rem + 0.61vw), 2.25rem);
$large: clamp(2.25rem, calc(2.09rem + 0.81vw), 3rem);
