$primary: #b1880b;
$accent: #a32024;
$background: #1b0f1a;
$text: #b4aba3;
$headings: #eae6e1;

:root {
    --color-primary: #b1880b;
	--color-accent: #a32024;
	--color-background: #1b0f1a;
	--color-text: #b4aba3;
	--color-headings: #eae6e1;
}
