@use 'styles/tokens' as *;

/* ---------- Typography variables ---------- */
@font-face {
	font-family: 'Capitol';
	src: url('/fonts/Capitol_Medium_Capitals.woff2') format('woff2'),
		url('/fonts/Capitol_Medium_Capitals.otf') format('opentype'),
		url('/fonts/Capitol_Medium_Capitals.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Cinzel';
	src: url('../public/fonts/Cinzel-Regular.otf') format('otf'),
		url('../public/fonts/Cinzel-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans Light Italic';
	src: url('../public/fonts/Gill_Sans_Light_Italic.otf') format('otf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gill Sans Light';
	src: url('../public/fonts/Gill_Sans_Light.otf') format('otf');
	font-weight: 300;
	font-style: normal;
}

/* ---------- Font family variables ---------- */
$header_1_font: 'Capitol', serif;
$header_2-5_font: 'Cinzel', serif;
$paragraph_font: 'Gill Sans Light', sans-serif;
$quote_font: 'Gill Sans Light Italic', sans-serif;
$cta_font: 'Gill Sans Light Italic', sans-serif;

/* ---------- Font weights ---------- */
$font_medium: 500;
$font_regular: 400;
$font_light: 300;

html,
body {
	background: $background;
	font-size: $paragraph;
	font-family: $paragraph_font;
	font-weight: $font_light;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ---------- Typography styles ---------- */
h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
	padding: 0;
	margin: 0;
}

h6 {
	color: $text;
	font-size: $header_6;
	font-family: $quote_font;
	font-weight: $font_light;
	font-style: italic;
	line-height: 1.2;
	padding: 0;
	margin: 0;
}

h1 {
	color: $primary;
	font-size: $header_1;
	font-family: $header_1_font;
	font-weight: $font_medium;
}

h2,
h3,
h4,
h5 {
	color: $headings;
	font-weight: $font_regular;
	font-family: $header_2-5_font;
}

h2 {
	font-size: $header_2;
}

h3 {
	font-size: $header_3;
}

h4 {
	font-size: $header_4;
}

h5 {
	font-size: $header_5;
}

h6 {
	font-size: $header_6;
	font-family: $paragraph_font;
}

p {
	color: $headings;
	font-family: $paragraph_font;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

a {
	color: $primary;
	font-size: $cta;
	font-family: $header_2-5_font;
	text-decoration: none;
	width: max-content;
	transition: all 0.5s ease-in-out;

	&:hover {
		color: $accent;
	}
}

.link {
	color: $primary;
	font-size: $paragraph;
	text-decoration: underline $primary 2px;
	width: max-content;
	transition: all 0.5s ease-in-out;

	&:hover {
		color: $accent;
		text-decoration: underline $accent 2px;
	}
}

button {
	font-family: $paragraph_font;
	font-size: calc($paragraph * 0.75);
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
